@{
    ViewBag.Title = "Contatti";
}

<main class="container mt-4" aria-labelledby="title">
    <h2 id="title" class="display-5">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <div class="row">
        <div class="col-md-6">
            <h4>Indirizzo Habbo Hotel</h4>
            <address class="lead">
                Via Roma 123<br />
                50123 Firenze, Italia<br />
                <abbr title="Telefono">Tel:</abbr> +39 055 1234567
            </address>
        </div>
        <div class="col-md-6">
            <h4>Contatti Diretti</h4>
            <address class="lead">
                <strong>Supporto Clienti:</strong> <a href="mailto:supporto@habbohotel.it">supporto@habbohotel.it</a><br />
                <strong>Prenotazioni:</strong> <a href="mailto:prenotazioni@habbohotel.it">prenotazioni@habbohotel.it</a><br />
                <strong>Eventi e Conferenze:</strong> <a href="mailto:eventi@habbohotel.it">eventi@habbohotel.it</a>
            </address>
        </div>
    </div>
</main>
