@{
    ViewBag.Title = "Home Page";
}

<main class="container mt-4">
    <section class="row mb-5" aria-labelledby="hotelTitle">
        <h1 id="hotelTitle" class="display-4">Habbo Hotel - 5 Stelle</h1>
        <p class="lead">Scopri il lusso e il comfort del Habbo Hotel, un'esperienza a cinque stelle incomparabile situata nel cuore della città. Con le sue camere splendidamente arredate, viste mozzafiato e servizi di prima classe, il tuo soggiorno sarà indimenticabile.</p>
        <p><a href="#" class="btn btn-primary btn-lg">Esplora le nostre camere &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4 mb-3" aria-labelledby="amenitiesTitle">
            <h2 id="amenitiesTitle" class="h4">Servizi di Lusso</h2>
            <p>Goditi i nostri servizi esclusivi, inclusi spa, piscine termali, ristoranti gourmet e il nostro rinomato servizio in camera disponibile 24 ore su 24.</p>
            <p><a class="btn btn-outline-secondary" href="#">Scopri di più &raquo;</a></p>
        </section>
        <section class="col-md-4 mb-3" aria-labelledby="experienceTitle">
            <h2 id="experienceTitle" class="h4">Esperienza Indimenticabile</h2>
            <p>Al Habbo Hotel, ogni dettaglio è stato pensato per creare un'esperienza indimenticabile, dalla nostra elegante hall all'ospitalità del nostro staff.</p>
            <p><a class="btn btn-outline-secondary" href="#">Scopri di più &raquo;</a></p>
        </section>
        <section class="col-md-4 mb-3" aria-labelledby="bookingTitle">
            <h2 id="bookingTitle" class="h4">Prenota Ora</h2>
            <p>Non perdere l'opportunità di vivere un soggiorno di lusso al Habbo Hotel. Prenota la tua camera ora per garantirti un'esperienza esclusiva.</p>
            <p><a class="btn btn-outline-secondary" href="#">Prenota ora &raquo;</a></p>
        </section>
    </div>
</main>
